# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
.build/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/*.lock

# Other
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Prevent uploading secrets to the repository
*.xcconfig
*.swiftlint.yml

# Xcode automatically generates this file for projects without a workspace.
# Keep this file under source control as it contains local build settings.
!*.xcworkspace
